@model Students.Models.Course

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes dos cursos</h2>

<fieldset>
    <legend>Curso</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Code)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Code)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subjects.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subjects.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Timing)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Timing)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CourseFee)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CourseFee)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Retornar para a Lista", "Index")
</p>
