@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <img class="img-fluid w-100" src="~/Content/images/banner_sistema.png" alt="about image" />
    <div class="menu">
        <div class="header-warp">
            <div class="header-bar-warp d-flex">
                <nav class="top-nav-area w-100">
                    <!-- Menu -->
                    <ul class="main-menu primary-menu">
                        <li><a href="~/Subjects">Cursos</a></li>
                        <li><a href="~/Courses">Detalhes dos Cursos</a></li>
                        <li><a href="~/Students/Add">Adicionar Aluno</a></li>
                        <li><a href="~/Students/Index">Alunos Recentes</a></li>
                        <li><a href="~/Students/Search">Procurar Alunos</a></li>
                        <li><a href="~/Account/Logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- Header section -->
    <header class="header-section"></header>
    <!-- Header section end -->
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)

    <!-- Footer section -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-left-pic">
                <img src="~/Content/images/boneco-left-footer.png" alt="" />
            </div>
            <div class="footer-text">
                <!-- logo -->
                <a class="" href="index.html"><img class="img-fluid mb-6" src="~/Content/images/logo-branco-roxo.png" alt="logo" /></a>
                <ul class="list-unstyled" style="color:white; text-align:center">
                    <li class="mb-2">Porto Alegre, Rio Grande do Sul, BRASIL</li>
                    <li class="mb-2">contato@tftec.com.br</li>
                    <li class="mb-2">CNPJ: 41.135.632/0001-40</li>
                </ul>
            </div>

            <div class="footer-right-pic">
                <img src="~/Content/images/boneco-footer-right.png" alt="" />
            </div>
            <div class="footer-social d-flex justify-content-center">
                <a href="https://www.youtube.com/channel/UCyFktIP0OmZDoIobmbEnyQQ?sub_confirmation=1"><i class="fa fa-youtube"></i></a>
                <a href="https://www.facebook.com/tftectreinamentosonline"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/tftec.online/"><i class="fa fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/tftec-treinamentos-online-625816191/"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="copyright">
                <a href="" style="color:white;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>document.write(new Date().getFullYear());</script> Todos os direitos reservados <i class="fa fa-cloud-upload" aria-hidden="true"></i> by <a href="https://tftec.com.br" target="_blank">TFTEC</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </a>
            </div>
        </div>
    </footer>
    <!-- Footer section end -->
</body>
</html>
