@model IEnumerable<Students.Models.Course>

@{
    ViewBag.Title = "Cursos em Andamento";
}

<h2>Cursos em Andamento</h2>

<p>
    @Html.ActionLink("Adicionar Novo curso", "Create") |
    @Html.ActionLink("Cursos Futuros", "Upcoming") |
    @Html.ActionLink("Histórico de Cursos", "History")
</p>
@if (Model.Count() > 0)
{
    <table style="width:100%">
        <tr>
            <th>
                Código
            </th>
            <th>
                Assunto
            </th>
            <th>
                Nome da Prova
            </th>
            <th>
                Data Início
            </th>
            <th>
                Data Término
            </th>
            <th>
                Horário
            </th>
            <th>Observações</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Code
                </td>
                <td>
                    @item.SubjectCode
                </td>
                <td>
                    @item.CourseName
                </td>
                <td>
                    @item.StartDate.ToString("dd-MM-yy")
                </td>
                <td>
                    @item.EndDate.Value.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Timing)
                </td>
                <td>
                    @item.Remarks
                </td>

                <td style="text-align:center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.Code }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.Code },
                         new { onclick = "return confirm('Deseja deletar esse curso e seus alunos ?')" }) |
                    @Html.ActionLink("Alunos", "List", "Students", new { id = item.Code }, null)
                </td>
            </tr>
        }
    </table>
}
else
{
    <h3>Nenhum curso em andamento foi encontrado !</h3>
}